/**
 * Gallery 3 core module styles
 *
 * Sheet organization:
 *  1)  End-user
 *  2)  Admin
 */

/** *******************************************************************
 * 1) End-user
 **********************************************************************/

/* Permissions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-edit-permissions-form {
	clear: both;
}

#g-edit-permissions-form td {
  background-image: none;
}

#g-edit-permissions-form fieldset {
	border: 1px solid #ccc;
}

#g-permissions .g-denied,
#g-permissions .g-allowed {
  text-align: center;
  vertical-align: middle;
}

#g-permissions .g-denied {
  background-color: #fcc;
}

#g-permissions .g-allowed {
  background-color: #cfc;
}

/* Move items ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-move ul {
  padding-left: 1em;
}

#g-move .selected {
  background: #999;
}

/* In-place edit ~~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-in-place-edit-form ul {
  margin: 0;
}

/** *******************************************************************
 * 2) Admin
 **********************************************************************/

.g-task-log {
  border: 1px solid #000;
  height: 400px;
  margin: .6em 0;
  overflow: auto;
  padding: .4em
}

#g-languages-form table {
  width: 40%;
  margin: 0 3em 1em 0;
}

#g-languages-form input {
  clear: both;
}

#g-translations ol {
  margin: 0 0 1em 2em;
}
#g-translations ol li {
  list-style-type: decimal;
  line-height: 150%;
}

#g-translations .g-button {
  padding: .5em;
  margin-bottom: 1em;
}
