/**
 *  @todo Make #g-welcome-message p unecessary
 *  @todo Review permissions dialog, find home
 */

/* Permissions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-edit-permissions-form {
	clear: both;
}

#g-edit-permissions-form td {
  background-image: none;
}

#g-edit-permissions-form fieldset {
	border: 1px solid #ccc;
	padding: 0;
}

#g-permissions .g-denied,
#g-permissions .g-allowed {
  text-align: center;
  vertical-align: middle;
}

#g-permissions .g-denied {
  background-color: #fcc;
}

#g-permissions .g-allowed {
  background-color: #cfc;
}

/* Move items ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-move ul {
  padding-left: 1em;
}

#g-move .selected {
  background: #999;
}

/* Simple uploader ~~~~~~~~~~~~~~~~~~~~~~~ */

#g-add-photos #SWFUpload_0 {
  position: relative;
  top: -200px;
  left: 134px;
}

#g-add-photos .g-breadcrumbs {
  border: 0;
  margin: 0;
  padding-left:10px;
}

#g-add-photos-canvas {
  border: 1px solid  #ccc;
  margin: .5em 0 .5em 0;
  width: 469px;
	height: 325px;
  overflow: auto;
}

#g-add-photos button {
  margin-bottom: .5em;
  float: right;
}
#g-uploadqueue-infobar {
  clear: both;
}

#g-uploadqueue-infobar #g-cancelupload {
  display: none;
  cursor: pointer;
}

#g-add-photos-canvas {
}

#g-add-photos-queue .progressbar {
  height: 4px;
}

#g-add-photos-queue .title {
  font-size: 1.25em;
}

#g-add-photos-queue .status {
  font-size: .75em;
}

#g-add-photos-queue .box {
  margin-bottom: 8px;
  padding: 4px;
}

#g-add-photos-queue .pending {
  background-color: #e8e8e8;
  border: 1px solid #d7d7d7;
}

#g-add-photos-queue .error {
  background-color: #fcc;
  border: 1px solid #ebb;
}

#g-add-photos-queue .uploading {
  background-color: #ff9;
  border: 1px solid #ee8;
}

#g-add-photos-queue .complete {
  background-color: #cfc;
  border: 1px solid #beb;
}
