.gItem:hover {
  background-color: #cfdeff;
}

.gQuick {
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

#gQuickPane {
  background: #000;
  border-bottom: 1px solid #ccc;
  opacity: 0.9;
}

#gQuickPane a {
  cursor: pointer;
  float: left;
  margin: 4px;
}

#gQuickPaneOptions {
  background: #000;
  float: left;
  width: 100%;
}

#gQuickPaneOptions li a {
  display: block;
  float: none;
  width: auto;
  margin: 0;
  padding: .5em .5em .5em .8em;
  text-align: left;
}

#gQuickPaneOptions li a:hover {
  background-color: #4d4d4d;
}
