body {
  background: #eee;
  font-family: Trebuchet MS;
  font-size: 1.1em;
}

h1 {
  font-size: 1.4em;
}

div#outer {
  width: 650px;
  background: white;
  border: 1px solid #999;
  margin: 0 auto;
  padding: -10px;
}

div#inner {
  padding: 0 1em 0 1em;
  margin: 0px;
}

div#footer {
  border-top: 1px solid #ccc;
  margin: 1em;
}

td.name {
  text-align: left;
  padding-left: 30px;
}

td {
  text-align: center;
  border-bottom: 1px solid #eee;
}

tr.current td {
  color: #999;
  font-style: italic;
}

tr.current td.gallery {
  color: #00d;
}

tr.upgradeable td {
  font-weight: bold;
}

tr.upgradeable td.gallery {
  color: #00d;
}

table {
  width: 600px;
  margin-bottom: 10px;
}

p {
  font-size: .9em;
}

ul {
  font-size: .9em;
  list-style: none;
}

li {
  display: inline;
}

li:before {
  content: "\00BB \0020";
}

div.button {
  margin: 0 auto;
  width: 120px;
  text-align: center;
  border: 1px solid #999;
  background: #eee;
}

div.button a {
  text-decoration: none;
}

div.button:hover {
  background: #ccc;
}

div#confirmation {
  position: absolute;
  background: blue;
  z-index: 1000;
  margin: 10px;
  text-align: center;
}

div#confirmation a.close {
  float: right;
  padding: 10px;
  text-decoration: none;
}

div#confirmation div {
  margin: 2px;
  padding: 20px;
  border: 2px solid #999;
  background: #eee;
}

.gray_on_done {
  opacity: <?= $done ? "0.5" : "1" ?>;
}

pre {
  display: inline;
  margin: 0px;
  padding: 0px;
}
