# We store Gallery3 data in var
var
vendor

# local.php is a local customization point that gets loaded at the end of index.php
local.php

# http://codex.galleryproject.org/Gallery3:Using_Vagrant
Vagrantfile
.vagrant

*.swp
