#gLocalImportAdmin {
  margin:auto;
  text-align: left;
}

#gLocalImportAdmin form fieldset {
  border: medium none;
}

#gLocalImportAdmin legend {
  display: none;
}

#gLocalImportAdmin .gWarning {
  background-color: #FFFF99;
}

#gAuthorizedPath {
  margin: 0 !important;
  padding: 0.3em 1.5em 0.3em 1em;
}

#gLocalImportAdmin #path {
  width: 80%;
}

.gRemoveDir:hover {
  cursor: pointer;
}
