/**
 * Fix display in IE 6, 7
 */

#gBanner,
.gBreadcrumbs,
#gAlbumGrid,
#gPager,
#gViewMenu  {
  zoom: 1;
}

#gBanner {
  z-index: 2;
}

input.submit {
  clear: none !important;
  display: inline !important;
}

#gAddTagForm input.textbox {
  width: 110px;
}

#gDialog a.gCancel {
  display: inline-block !important;
  float: none !important;
}

.gPager .txtright {
  width: 29%;
}

.gPager .ui-icon-right {
  width: 60px;
}
