/**
 * Gallery 3 Default Theme Screen Styles
 *
 * @requires YUI reset, font, grids CSS
 *
 * Sheet organization:
 *  1)  Basic HTML elements
 *  2)  Reusable classes
 *  3)  Reusable content blocks
 *  4)  Page layout containers
 *  5)  Content blocks in specific layout containers
 *  6)  Navigation and menus
 *  7)  Browser hacks
 *  8)  jQuery and jQuery UI
 *  9)  Right-to-left language styles
 */

/** *******************************************************************
 * 1) Basic HTML elements
 **********************************************************************/

body, html {
  background-color: #ccc;
  font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  margin-bottom: 1em;
}

em {
  font-style: oblique;
}

h1, h2, h3, h4, h5, strong, th {
  font-weight: bold;
}

h1 {
  font-size: 1.7em;
}

#gSearchResults h1 {
  margin-bottom: 1em;
}

#gProgress h1 {
  font-size: 1.1em;
}

h2 {
  font-size: 1.4em;
}

#gSidebar .gBlock h2 {
  font-size: 1.2em;
}

#gSidebar .gBlock li {
  margin-bottom: .6em;
}

h3 {
  font-size: 1.2em;
}

/* Links ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

a,
.gMenu a,
#gDialog a,
.gButtonLink,
.gButtonLink:hover,
.gButtonLink:active,
a.ui-state-hover,
input.ui-state-hover,
button.ui-state-hover {
  color: #5382bf !important;
  cursor: pointer !important;
  text-decoration: none;
  -moz-outline-style: none;
}

a:hover,
#gDialog a:hover {
  text-decoration: underline;
}

.gMenu a:hover {
  text-decoration: none;
}

#gDialog .gCancel {
  clear: none;
  float: left;
  margin: .3em 1em;
}

#gForgotPasswordLink {
  float: right;
  font-size: .9em;
}

#gDialog .gCancel {
  float: left;
}

#gDialog #gMessage li {
  width: 400px;
  white-space: normal;
  padding-left: 32px;
}

/* Tables ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

table {
  width: 100%;
}

#gContent table {
  margin: 1em 0;
}

caption,
th {
  text-align: left;
}

th,
td {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: .5em;
  vertical-align: top;
}

/* Forms ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

fieldset {
  border: 1px solid #ccc;
  padding-bottom: .8em;
}

#gBanner fieldset,
#gSidebar fieldset,
.gShortForm fieldset {
  border: none;
}

legend {
  font-weight: bold;
  margin-left: 1em;
}

#gBanner legend,
#gSidebar legend,
#gContent #gSearchForm legend,
input[type="hidden"],
.gShortForm label {
  display: none;
}

label {
  cursor: help;
}

input[type="text"],
input[type="password"] {
  width: 50%;
}

input[type="text"],
input[type="password"],
textarea {
  border: 1px solid #e8e8e8;
  border-top-color: #ccc;
  border-left-color: #ccc;
  color: #333;
}

textarea {
  width: 100%;
  height: 12em;
}

input:focus,
textarea:focus,
option:focus {
  background-color: #ffc;
  color: #000;
}

/* Form layout ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

form li {
  margin: 0 !important;
  padding: .3em 1.5em .3em 1em;
}

form ul ul {
  clear: both;
}

form ul ul li {
  float: left;
}

input,
select,
textarea {
  display: block;
  clear: both;
  padding: .2em;
}

input[type="submit"],
input[type="reset"] {
  display: inline;
  clear: none;
  float: left;
}

/* Form validation ~~~~~~~~~~~~~~~~~~~~~~~ */

.gValidationRule {
  font-size: 80%;
  margin-top: .5em;
}

form.gError input[type="text"],
li.gError input[type="text"],
form.gError input[type="password"],
li.gError input[type="password"],
form.gError input[type="checkbox"],
li.gError input[type="checkbox"],
form.gError input[type="radio"],
li.gError input[type="radio"],
form.gError textarea,
li.gError textarea,
form.gError select,
li.gError select {
  border: 2px solid red;
}

/** *******************************************************************
 * 2) Reusable generic classes
 *********************************************************************/

.inactive, .understate {
  color: #ccc;
  font-weight: normal;
}

.left {
  float: left;
  margin: 1em 1em 1em 0;
}

.right {
  float: right;
  margin: 1em 0 1em 1em;
}

.txtright {
  text-align: right;
}

/** *******************************************************************
 * 3) Reusable content blocks
 *********************************************************************/

.gBlock {
  clear: both;
  margin-bottom: 2.5em;
}

.gBlock h2 {
  background-color: #e8e8e8;
  padding: .3em .8em;
}

.gBlockContent {
  margin-top: 1em;
}

/* Status messages ~~~~~~~~~~~~~~~~~~~~~~~ */

#gMessage {
  width: 100%;
}

#gSiteStatus li,
#gMessage li,
.gModuleStatus {
  border: 1px solid #ccc;
  margin-bottom: .4em;
}

#gSiteStatus li {
  margin-bottom: 0;
  border: none;
  border-bottom: 1px solid #ccc;
}

.gModuleStatus {
  clear: both;
  margin-bottom: 1em;
}

.gError,
.gInfo,
.gSuccess,
.gWarning {
  background-position: .4em 50%;
  background-repeat: no-repeat;
  padding: .4em .5em .4em 30px;
}

.gError {
  background-color: #f6cbca;
  background-image: url('../images/ico-error.png');
}

.gInfo {
  background-color: #e8e8e8;
  background-image: url('../images/ico-info.png');
}

.gSuccess {
  background-color: #d9efc2;
  background-image: url('../images/ico-success.png');
}

.gWarning {
  background-color: #fcf9ce;
  background-image: url('../images/ico-warning.png');
}

form .gError,
.gPager .gInfo {
  background-color: #fff !important;
}

.gPager .gInfo {
  background-image: none !important;
  padding: 0 !important;
}

/* Inline layout (forms, lists) ~~~~~~~~~~ */

.gShortForm li {
  float: left;
  padding: .4em 0;
}

.gShortForm input[type="text"] {
  color: #666;
  padding: .3em .6em;
  width: 11em;
}

/*** ******************************************************************
 * 4) Page layout containers
 *********************************************************************/

/* View container ~~~~~~~~~~~~~~~~~~~~~~~~ */

.gView {
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
}

/* Layout containers ~~~~~~~~~~~~~~~~~~~~~ */

#gHeader {
  margin-bottom: 1em;
}

#gBanner {
  background-color: #e8e8e8;
  border-bottom: 1px solid #ccc;
  font-size: .8em;
  min-height: 5em;
  padding: 1em 20px;
  position: relative;
}

#gContent {
  font-size: 1.2em;
  padding-left: 20px;
  position: relative;
  width: 696px;
}

#gSidebar {
  font-size: .9em;
  padding: 0 20px;
  width: 220px;
}

#gFooter {
  background-color: #e8e8e8;
  border-top: 1px solid #ccc;
  font-size: .8em;
  margin-top: 20px;
  padding: 10px 20px;
}

/** *******************************************************************
 * 5) Content blocks in specific layout containers
 *********************************************************************/

/* Header  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#gBanner #gLogo img {
  margin: 0;
}

#gBanner #gQuickSearchForm {
  clear: right;
  float: right;
  margin-top: 1em;
}

#gBanner #gQuickSearchForm input[type='text'] {
  width: 17em;
}

#gContent .gBlock h2 {
  background-color: transparent;
  padding-left: 0;
}

#gSidebar .gBlockContent {
  padding-left: 1em;
}

/* Album content ~~~~~~~~~~~~~~~~~~~~~~~~~ */

#gContent #gAlbumGrid {
  margin: 1em 0;
  position: relative;
  z-index: 1;
}

#gContent #gAlbumGrid .gItem {
  background-color: #fff;
  border: 1px solid #fff;
  float: left;
  font-size: .7em;
  height: 220px;
  overflow: hidden;
  padding: .6em 8px;
  position: relative;
  text-align: center;
  width: 213px;
  z-index: 1;
}

#gContent #gAlbumGrid .gItem h2 {
  margin: 5px 0;
}

#gContent .gPhoto h2,
#gContent .gItem .gMetadata {
  display: none;
}

#gContent #gAlbumGrid .gAlbum {
  background-color: #e8e8e8;
}

#gContent #gAlbumGrid .gAlbum h2 span {
  background: transparent url('../images/ico-album.png') no-repeat top left;
  display: inline-block;
  height: 16px;
  margin-right: 5px;
  width: 16px;
}

#gContent #gAlbumGrid .gHoverItem {
  background-color: #fff;
  border: 1px solid #000;
}

#gContent .gHoverItem h2,
#gContent .gHoverItem .gMetadata {
  display: block;
}

/* Individual photo content ~~~~~~~~~~~~~~ */

#gContent #gItem {
  position: relative;
  width: 99%;
}

#gContent #gPhoto {
  position: relative;
}

#gContent #gItem .gFullSizeLink img {
  display: block;
  margin: 1em auto !important;
}

#gContent #gComments {
  margin-top: 2em;
  position: relative;
}

#gContent #gComments ul li {
  margin: 1em 0;
}

#gContent #gComments .gAuthor {
  border-bottom: 1px solid #ccc;
  color: #999;
  height: 32px;
  line-height: 32px;
}

#gContent #gComments ul li div {
  padding: 0 8px 8px 43px;
}

#gContent #gComments ul li #gRecaptcha {
  padding: 0;
}

#gContent #gComments ul li #gRecaptcha div {
  padding: 0;
}

#gContent #gComments .gAvatar {
  height: 32px;
  margin-right: .4em;
  width: 32px;
}

#gAddCommentButton {
  position: absolute;
  right: 0;
  top: 2px;
}

#gContent #gAddCommentForm {
  margin-top: 2em;
}

/* Footer content ~~~~~~~~~~~~~~~~~~~~~~~~ */

#gBanner #gLoginMenu li,
#gFooter #gCredits li {
  display: inline;
}

#gBanner #gLoginMenu li {
  padding-left: 1.2em;
}

#gFooter #gCredits li {
  padding-right: 1.2em;
}

#gContent #gSearchResults {
  margin-top: 1em;
  padding-top: 1em;
}

/** *******************************************************************
 * 5) Navigation and menus
 *********************************************************************/

#gSiteMenu,
#gTagCloud ul {
  font-size: 1.2em;
}

/* Login menu ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#gBanner #gLoginMenu {
  color: #999;
  float: right;
}

/* Site Menu  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#gSiteMenu {
  bottom: 0;
	display: none;
  left: 140px;
  position: absolute;
}

#gSiteMenu ul {
  margin-bottom: 0 !important;
}

/* Context Menu  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.gContextMenu {
  position: absolute;
  bottom: 0;
  left: 0;
}

.gItem .gContextMenu {
  display: none;
  margin-top: 2em;
  width: 100%;
}

#gItem .gContextMenu {
  font-size: .7em;
}

#gItem .gContextMenu ul {
  display: none;
}

.gContextMenu li {
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.gContextMenu li a {
  display: block;
  line-height: 1.6em;
}

.gHoverItem .gContextMenu {
  display: block;
}

.gHoverItem .gContextMenu li {
  text-align: left;
}

.gHoverItem .gContextMenu a:hover {
  text-decoration: none;
}

/* View Menu  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#gViewMenu {
  margin-bottom: 1em;
}

#gViewMenu a {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 28px !important;
  width: 43px !important;
}

#gViewMenu #gHybridLink {
  background-image: url('../images/ico-view-hybrid.png');
}

#gViewMenu #gSlideshowLink {
  background-image: url('../images/ico-view-slideshow.png');
}

#gViewMenu .gFullSizeLink {
  background-image: url('../images/ico-view-fullsize.png');
}

#gViewMenu #gCommentsLink {
  background-image: url('../images/ico-view-comments.png');
}

#gViewMenu #gDigibugLink {
  background-image: url('../images/ico-print.png');
}

/* Breadcrumbs ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.gBreadcrumbs {
  padding: 0 20px;
}

.gBreadcrumbs li {
  background: transparent url('../images/ico-separator.gif') no-repeat scroll left center;
  float: left;
  padding: 10px 6px 10px 16px !important;
}

.gBreadcrumbs li.root {
  background: transparent;
}

.gBreadcrumbs li a,
.gBreadcrumbs li span {
  display: block;
}

.gBreadcrumbs li.active,
.gBreadcrumbs li.active span {
  font-weight: bold;
}

#gDialog ul.gBreadcrumbs {
  clear: both;
  margin-left: 0;
  padding-left: 0;
}

#gDialog .gBreadcrumbs li {
  font-size: .9em;
}

/* Tags and cloud ~~~~~~~~~~~~~~~~~~~~~~~~ */

#gTagCloud ul {
  text-align: justify;
}

#gTagCloud ul li {
  display: inline;
  line-height: 1.5em;
  text-align: justify;
}

#gTagCloud ul li a {
  text-decoration: none;
}

#gTagCloud ul li span {
  display: none;
}

#gTagCloud ul li.size1 a {
  color: #9cf;
  font-size: 80%;
  font-weight: 100;
}

#gTagCloud ul li.size2 a {
  color: #69f;
  font-size: 90%;
  font-weight: 300;
}

#gTagCloud ul li.size3 a {
  color: #69c;
  font-size: 100%;
  font-weight: 500;
}

#gTagCloud ul li.size4 a {
  color: #369;
  font-size: 110%;
  font-weight: 700;
}

#gTagCloud ul li.size5 a {
  color: #0e2b52;
  font-size: 120%;
  font-weight: 900;
}

#gTagCloud ul li.size6 a {
  color: #0e2b52;
  font-size: 130%;
  font-weight: 900;
}

#gTagCloud ul li.size7 a {
  color: #0e2b52;
  font-size: 140%;
  font-weight: 900;
}

#gTagCloud ul li a:hover {
  color: #f30;
  text-decoration: underline;
}

#gWelcomeMessage p {
  padding-bottom: 1em;
}

/* Pagination ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.gPager {
  clear: both;
  margin: 0;
  padding: 5px 0 !important;
  width: 100%;
}

.gPager li {
  float: left;
  margin: 0;
  width: 30%;
}

.gPager .gInfo {
  text-align: center;
  width: 40%;
}

/** *******************************************************************
 * 6) Browser hacks
 *********************************************************************/

#gHeader:after,
#gAlbumGrid:after,
.gPager:after,
#gViewMenu:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/** *******************************************************************
 * 7) jQuery and jQuery UI
 *********************************************************************/

/* Superfish menu overrides ~~~~~~~~~~~~~~ */

.sf-menu li li, .sf-menu li li ul li {
  background-color: #bdd2ff;
}

.sf-menu li:hover {
  background-color: #dfe9ff;
}

/* Ajax loading indicator ~~~~~~~~~~~~~~~~ */

.gLoadingLarge {
  background: #e8e8e8 url('../../../lib/images/loading-large.gif') no-repeat center center;
  font-size: 0;
}

.gDialogLoadingLarge {
  background: url('../../../lib/images/loading-large.gif') no-repeat center center !important;
  font-size: 0;
}

.gLoadingSmall {
  background: #e8e8e8 url('../../../lib/images/loading-small.gif') no-repeat center center;
  font-size: 0;
}

.gDraggable {
  cursor: move;
}

.gDropTarget {
  background-color: #cfdeff;
  border: 1px dotted #999;
  height: 100px;
  margin: 1em 0;
}

/* jQuery UI Dialog ~~~~~~~~~~~~~~~~~~~~~~ */

.ui-widget-overlay {
  background: #000;
  opacity: .7;
}

#gDialog {
  text-align: left;
}

#gDialog li {
  padding-left: 0;
}

#gDialog form input[type="text"],
#gDialog form input[type="password"] {
  width: 100%;
}

#gDialog #gLoginForm,
#gDialog #gAddUserForm,
#gDialog #gAddGroupForm {
  margin: 0 auto;
  width: 270px;
}

#gDialog fieldset {
  border: none;
}

#gDialog legend {
  display: none;
}

#gDialog p {
	margin: 0;
}

/* jQuery UI ThemeRoller buttons */

.gButtonLink {
  display: inline-block;
  margin: 0 4px 0 0;
  padding: .2em .4em;
  outline: 0;
}

.gButtonSet {
  padding-left: 1px;
}

.gButtonSet li {
  float: left;
}

.gButtonSet .gButtonLink {
  margin: 0;
}

.ui-icon-left .ui-icon {
  float: left;
  margin-right: .2em;
}

.ui-icon-right .ui-icon {
  float: right;
  margin-left: .2em;
}

.ui-icon-rotate-ccw {
  background-position: -192px -64px;
}

.ui-icon-rotate-cw {
  background-position: -208px -64px;
}

/* STUFF THAT NEEDS A HOME */

#gMove ul {
  padding-left: 1em;
}

#gMove .selected {
  background: #999;
}

/* Server Add */

#gServerAdd button {
  margin-bottom: .5em;
}

#gServerAddTree {
  cursor: pointer;
  padding-left: 4px;
  width: 95%;
}

#gServerAddTree li {
  padding: 0;
  float: none;
}

#gServerAddTree span.selected {
  background: #ddd;
}

#gServerAddTree {
  border: 1px solid #ccc;
  height: 20em;
  overflow: auto;
  margin-bottom: .5em;
  padding: .5em;
}

#gServerAdd ul ul li {
  padding-left: 1.2em;
}

/* Permissions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#gEditPermissionForm {
	clear: both;
}
#gEditPermissionForm fieldset {
	border: 1px solid #cccccc;
	padding: 0;
}

#gPermissions .gDenied,
#gPermissions .gAllowed {
  text-align: center;
  vertical-align: middle;
}
#gPermissions .gDenied {
  background-color: #fcc;
}
#gPermissions .gAllowed {
  background-color: #cfc;
}

/*************** STUFF THAT NEEDS A HOME ****************/

.gProgressBar {
  height: 1em;
  width: 100%;
  margin-top: .5em;
  display: inline-block;
}

#gAddPhotos span {
  clear: both;
  display: block;
}

#gAddPhotosCanvas {
  height: 325px;
  width: 450px;
  overflow: auto;
}

#gAddPhotosQueue .progressbar {
  height: 4px;
}

#gAddPhotosQueue .title {
  font-size: 1.25em;
}

#gAddPhotosQueue .status {
  font-size: .75em;
}

#gAddPhotosQueue .box {
  margin-bottom: 8px;
  padding: 4px;
}

#gAddPhotosQueue .pending {
  background-color: #e8e8e8;
  border: 1px solid #d7d7d7;
}

#gAddPhotosQueue .error {
  background-color: #fcc;
  border: 1px solid #ebb;
}

#gAddPhotosQueue .uploading {
  background-color: #ff9;
  border: 1px solid #ee8;
}

#gAddPhotosQueue .complete {
  background-color: #cfc;
  border: 1px solid #beb;
}

#gAdminG2ImportNotes {
  padding-bottom: 20px;
}

#gAdminG2ImportDetails {
  padding-top: 20px;
}

#gAdminG2ImportDetails .gWarning {
  margin-top: 4px;
}

#gAdminG2ImportDetails .gInfo {
  padding: 2px;
  border: 1px solid #999;
  margin-bottom: 10px;
}

#gAdminG2ImportNotes p,
#gAdminG2ImportDetails .gInfo p {
  padding: 0;
  margin: 0;
}

#gAdminG2ImportNotes ul li,
#gAdminG2Import .gInfo ul li {
  padding-left: 0;
  margin-left: 20px;
  list-style-type: disc;
}

/* Right to left styles ~~~~~~~~~~~~~~~~~~~~ */

.rtl {
  direction: rtl;
}

.rtl caption,
.rtl th,
.rtl #gDialog {
  text-align: right;
}

.rtl #gHeader #gQuickSearchForm,
.rtl #gForgotPasswordLink,
.rtl #gHeader #gLoginMenu,
.rtl .ui-icon-right .ui-icon {
  clear: left;
  float: left;
}

.rtl #gDialog .gCancel,
.rtl form ul ul li,
.rtl input[type="submit"],
.rtl input[type="reset"],
.rtl .gShortForm li,
.rtl #gHeader #gLogo img,
.rtl #gContent #gAlbumGrid .gItem,
.rtl #gSiteMenu,
.rtl .gBreadcrumbs li,
.rtl .gPager li,
.rtl .gButtonSet li,
.rtl .ui-icon-left .ui-icon {
  float: right;
}

