/**
 * Gallery 3 Default Theme Styles
 *
 * @requires YUI reset, font, grids CSS
 *
 * Sheet organization:
 * 1)  Basic HTML elements
 * 2)  Base text styles
 * 3)  Page layout containers
 * 4)  Reusable content containers
 * 5)  Specific content blocks
 * 6)  Navigation and menus
 * 7)  Generic styles
 * 8)  Browser hacks
 * 9)  Debugging information
 * 10) Ajax/DOM features
 * 11) jQuery UI
 */

/** *******************************************************************
 * 1) Basic HTML elements
 ******************************************************************/

/* Basic HTML elements ~~~~~~~~~~~~~~~~ */

body, html {
  background-color: #ccc;
  font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  margin-bottom: 1em;
}

/* Headings ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

h1 {
  font-size: 1.7em
}

h2 {
  font-size: 1.4em
}

h3 {
  font-size: 1.2em
}

/* Links ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

a {
  color: #6b8cb7;
  text-decoration: none;
}

a:hover {
  color: #f30;
  text-decoration: underline;
}

/* Tables ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

caption {
  text-align: left;
}

th {
  font-weight: bold;
  text-align: left;
}

/* Forms ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

fieldset {
  border: 1px solid #ccc;
}

legend {
  font-weight: bold;
  margin-left: 1em;
}

label {
  cursor: help;
}

input[type="text"],
input[type="password"],
textarea,
select {
  width: 50%;
}

input[type="text"],
input[type="password"],
textarea,
.gValidationRule {
}

input[type="button"] {
}

input[type="checkbox"] {
}

input[type="file"] {
}

input[type="password"] {
}

input[type="radio"] {
}

input[type="reset"] {
}

input[type="submit"] {
}

input[type="text"] {
}

option {
}

optgroup {
}

select {
}

textarea {
  width: 99%;
  height: 12em;
}

button {
}

input:focus,
textarea:focus,
option:focus {
  background-color: #ffc;
}

/* Form layout ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

form li {
  margin: 0 !important;
  padding: .3em 1.5em .3em 1em;
}

form ul ul {
  clear: both;
}

form ul ul li {
  float: left;
}

input,
textarea {
  display: block;
  clear: both;
}

/* Form validation ~~~~~~~~~~~~~~~~~~~~~~~ */

.gRequired {
}

.gValidationRule {
  font-size: 80%;
  margin-top: .5em;
}

form.gError input[type="text"],
li.gError input[type="text"],
form.gError input[type="password"],
li.gError input[type="password"],
form.gError input[type="checkbox"],
li.gError input[type="checkbox"],
form.gError input[type="radio"],
li.gError input[type="radio"],
form.gError textarea,
li.gError textarea,
form.gError select,
li.gError select {
  border: 2px solid red;
}

/** ****************************************************************
 * 2) Base text styles
 ******************************************************************/

#gContent {
  font-size: 1em;
}

#gSidebar {
  font-size: .9em;
}

#gHeader, #gFooter {
  font-size: .8em;
}

.gItem {
  font-size: .8em;
}

/*** ***************************************************************
 * 3) Page layout containers
 ******************************************************************/

/* View container ~~~~~~~~~~~~~~~~~~~~~~~~ */

.gView {
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
}

/* Layout containers ~~~~~~~~~~~~~~~~~~~~~ */

#gHeader {
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}

#gContent {
  padding-left: 20px;
}

#gSidebar {
  background-color: #fff;
  padding: 0 20px;
  width: 220px;
}

#gFooter {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding: 10px 20px;
}

/** ****************************************************************
 * 4) Reusable content containers
 ******************************************************************/

.gBlock {
  clear: both;
  margin-bottom: 2.5em;
}

#gSidebar .gBlock h3 {
  background: #e8e8e8;
  padding: .3em 1.4em;
  background-image: url('../images/ico-move-handle.png');
  background-repeat: no-repeat;
  cursor: move;
}

#gSidebar .gBlockContent {
  padding: .5em 1em;
}

/** ****************************************************************
 * 5) Specific content blocks
 ******************************************************************/

/* Logo  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#gLogo {
  margin: 5px 10px 10px 20px;
}

.gThumbnail {
}

/* Album ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#gAlbumHeader {
  position: relative;
}

#gAlbumGrid {
  margin-top: 20px;
}

#gAlbumGrid .gItem {
  float: left;
  height: 270px;
  margin-bottom: 10px;
  padding: 0 0 5px 0;
  text-align: center;
  width: 33%;
}

.gItem h2 {
  margin: 5px 0;
}

.gAlbum {
  background-color: #d4daff;
}

.gAlbum h2 {
  color: #006;
}

/* Individual photo ~~~~~~~~~~~~~~~~~~~~~ */

#gItem {
  margin: 1em 0;
}

/* Metadata ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.gMetadata td,
.gMetadata th {
  padding: 0 1em .5em 0;
  vertical-align: top;
}

.gMetadata th,
.gMetadata td.toggle {
  text-align: right;
}

/* Comments ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#gComments {
  margin-top: 2em;
}

#gComments ul li {
  margin: 1em 0;
}

#gComments ul li p {
  background-color: #e8e8e8;
  margin-bottom: 2px;
  padding: 4px;
}

#gComments ul li div {
  padding: 8px;
}

/* Status messages ~~~~~~~~~~~~~~~~~~~~~~~ */

.gMessages li {
  border: 1px solid #ccc;
  margin: .4em 0;
}

.gError, .gWarning, .gSuccess, .gHelp, .gInfo {
  background-position: .5em .1em;
  background-repeat: no-repeat;
  padding: .1em .5em .1em 30px;
}

.gError {
  background-color: #fcc;
  background-image: url('../images/ico-error.png');
}

.gWarning {
  background-color: #ff9;
  background-image: url('../images/ico-warning.png');
}

.gSuccess {
  background-color: #cfc;
  background-image: url('../images/ico-success.png');
}

.gHelp {
  background-image: url('../images/ico-help.png');
}

.gInfo {
  background-image: url('../images/ico-info.png');
}

/* Inline layout (forms, lists) ~~~~~~~~~~ */

.gShortForm li {
  float: left;
  padding: .4em .5em;
}

.gShortForm legend,
.gShortForm label {
  display: none;
}


.gShortForm fieldset {
  border: none;
}

.gShortForm input[type="text"] {
  width: 10em;
}

#gHeader #gSearchForm {
  float: right;
  margin-right: 20px;
}

/* Credits ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#gCredits li {
  display: inline;
}

#gCredits li:before {
  padding: 0 2px 0 2px;
  content: "|"
}

#gCredits li.first:before {
  content: ""
}

/** *******************************************************************
 * 6) Navigation and menus
 ****************************************************************** /

/* Login menu ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#gLoginMenu {
  float: right;
  margin-right: 20px;
}

/* Site Menu  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#gSiteMenu {
  border-bottom: 1px solid #ccc;
  font-size: 1.2em;
  padding: 0 20px 0;
}

#gSiteMenu ul {
  margin-bottom: 0;
}

#gViewMenu #gAlbumLink,
#gViewMenu #gHybridLink,
#gViewMenu #gSlideshowLink,
#gViewMenu #gFullsizeLink {
  background-color: #BDD2FF;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: transparent;
  display: block;
  font-size: .9em;
  height: 22px;
  overflow: hidden;
  text-indent: 1000px;
  white-space: nowrap;
  width: 32px;
}

#gViewMenu #gAlbumLink {
  background-image: url('../images/ico-view-album.png');
}

#gViewMenu #gHybridLink {
  background-image: url('../images/ico-view-hybrid.png');
}

#gViewMenu #gSlideshowLink {
  background-image: url('../images/ico-view-slideshow.png');
}

#gViewMenu #gFullsizeLink {
  background-image: url('../images/ico-view-fullsize.png');
}

/* Breadcrumbs ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#gBreadcrumbs {
  padding-left: 20px;
  font-size: 1.3em;
}

#gBreadcrumbs li {
  background: transparent url('../images/icon_breadcrumb_separator.gif') no-repeat scroll left center;
  float: left;
  padding: 10px 6px 10px 16px;
}

#gBreadcrumbs li.root {
  background: transparent;
}

#gBreadcrumbs li a,
#gBreadcrumbs li span {
  display: block;
}

#gBreadcrumbs li.active span {
  font-weight: bold;
}

/* Tags and cloud ~~~~~~~~~~~~~~~~~~~~~~~~ */

#gTagCloud ul {
  font-size: 1.4em;
  text-align: justify;
}

#gTagCloud ul li {
  display: inline;
  line-height: 1.5em;
  text-align: justify;
}

#gTagCloud ul li a {
  text-decoration: none;
}

#gTagCloud ul li span {
  display: none;
}

#gTagCloud ul li.size1 a {
  color: #9cf;
  font-size: 80%;
  font-weight: 100;
}

#gTagCloud ul li.size2 a {
  color: #69f;
  font-size: 90%;
  font-weight: 300;
}

#gTagCloud ul li.size3 a {
  color: #69c;
  font-size: 100%;
  font-weight: 500;
}

#gTagCloud ul li.size4 a {
  color: #369;
  font-size: 110%;
  font-weight: 700;
}

#gTagCloud ul li.size5 a {
  color: #0e2b52;
  font-size: 120%;
  font-weight: 900;
}

#gTagCloud ul li.size6 a {
  color: #0e2b52;
  font-size: 130%;
  font-weight: 900;
}

#gTagCloud ul li.size7 a {
  color: #0e2b52;
  font-size: 140%;
  font-weight: 900;
}

#gTagCloud ul li a:hover {
  color: #f30;
  text-decoration: underline;
}

/* Pagination ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#gPager {
  clear: both;
  padding-top: 2em;
}

#gPager li {
  background-repeat: no-repeat;
  float: left;
  padding: 5px;
}

#gPager .first {
  background-image: url('../images/first.png');
  background-position: left;
  padding-left: 20px;
}

#gPager .first_inactive {
  background-image: url('../images/first_inactive.png');
  background-position: left;
  color: #ccc;
  padding-left: 20px;
}

#gPager .previous {
  background-image: url('../images/previous.png');
  background-position: left;
  padding-left: 17px;
}

#gPager .previous_inactive {
  background-image: url('../images/previous_inactive.png');
  background-position: left;
  color: #ccc;
  padding-left: 17px;
}

#gPager .next {
  background-image: url('../images/next.png');
  background-position: right;
  padding-right: 17px;
}

#gPager .next_inactive {
  background-image: url('../images/next_inactive.png');
  background-position: right;
  color: #ccc;
  padding-right: 17px;
}

#gPager .last {
  background-image: url('../images/last.png');
  background-position: right;
  padding-right: 20px;
}

#gPager .last_inactive {
  background-image: url('../images/last_inactive.png');
  background-position: right;
  color: #ccc;
  padding-right: 20px;
}

/** *******************************************************************
 * 7) Generic styles
 ******************************************************************/

.gButtonLink {
  border: 1px solid #ccc;
  display: block;
  height: 24px;
  line-height: 1.7em;
  padding: 3px 1em 0;
}

.gButtonLink:hover {
  background-color: #f3f3f3;
}

/** *******************************************************************
 * 8) Browser hacks
 *********************************************************************/

.gClearFix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/** *******************************************************************
 * 9) Debugging information
 *********************************************************************/

div.gAnnotatedThemeBlock {
  position: relative;
  padding: 1em;
  margin: 1em;
  border: 1px solid #C00;
  clear: both;
}

div.gAnnotatedThemeBlock_album_top {
  float: right;
}

div.gAnnotatedThemeBlock_header_bottom {
  float: right;
}

div.gAnnotatedThemeBlock div.title {
  position: absolute;
  top: -1em;
  right: -1em;
  border: 1px solid black;
  background: #C00;
  color: white;
  text-align: left;
  padding: 4px;
  font-size: 110%;
  -moz-border-radius: 5% 5% 5% 5%;
}

/** *******************************************************************
 * 10) Ajax/DOM features
 *********************************************************************/

.gInPlaceEdit,
.gInPlaceEdit form,
.gInPlaceEdit input {
  display: inline;
}

span.gInPlaceEdit:hover {
  color: #6b8cb7;
}

#gDialog {
  text-align: left;
}

#gDialog fieldset {
  border: none;
}

#gDialog legend,
#gDialog button.submit {
  display: none;
}

.gLoadingLarge {
  background: #fff url('../images/loading-lg.gif') no-repeat center center;
  font-size: 0;
}

.gLoadingSmall {
  background: #fff url('../images/loading-sm.gif') no-repeat center center;
  font-size: 0;
}

/** *******************************************************************
 * 11) jQuery UI
 *********************************************************************/

/*UI tabs*/
.ui-tabs-nav {
  float: left;
  position: relative;
  z-index: 1;
  border-right: 1px solid #ccc;
  bottom: -1px;
}
.ui-tabs-nav li {
  float: left;
  border: 1px solid #ccc;
  border-right: none;
}
.ui-tabs-nav li a {
  float: left;
  font-weight: normal;
  text-decoration: none;
  padding: .5em 1.7em;
  color: #444444;
  background: #e6e6e6 url(../images/e6e6e6_40x100_textures_02_glass_80.png) 0 50% repeat-x;
}
.ui-tabs-nav li a:hover, .ui-tabs-nav li a:focus, .ui-tabs-nav li a:active { /* order: LVHFA */
  background: #eb9300 url(../images/eb9300_40x100_textures_02_glass_90.png) 0 50% repeat-x;
  color: #111111;
}
.ui-tabs-nav li.ui-tabs-selected {
  border-bottom-color: #8ab9ff;
}
.ui-tabs-nav li.ui-tabs-selected a, .ui-tabs-nav li.ui-tabs-selected a:hover,
.ui-tabs-nav li.ui-tabs-selected a:focus, .ui-tabs-nav li.ui-tabs-selected a:active {
  background: #8ab9ff url(../images/8ab9ff_40x100_textures_02_glass_50.png) 0 50% repeat-x;
  color: #000;
}
.ui-tabs-panel {
  clear:left;
  border: 1px solid #ccc;
  background: #f3f3f3 url(../images/f3f3f3_40x100_textures_01_flat_0.png) 0 0 repeat-x;
  color: #362b36;
  padding: 1.5em 1.7em;
  min-width: 0; /* => IE7 trigger hasLayout (while maintaining valid CSS) to prevent margins pushed here from preceding elements */
}
* html .ui-tabs-panel {
  display: inline-block; /* => IE6 trigger hasLayout (while maintaining valid CSS) in IE6 to prevent margins pushed here from preceding elements */
}
.ui-tabs-hide {
  display: none !important/*for accessible hiding: position: absolute; left: -99999999px;*/;
}

/*dialog*/
.ui-dialog {
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  font-size: 1.2em;
  background: #f3f3f3 url(../images/f3f3f3_40x100_textures_01_flat_0.png) 0 0 repeat-x;
  color: #362b36;
  border: 4px solid #dddddd;
  position: relative;
}
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999;
}
.ui-resizable .ui-resizable-handle {
  display: block;
}
body .ui-resizable-disabled .ui-resizable-handle { display: none; } /* use 'body' to make it more specific (css order) */
body .ui-resizable-autohide .ui-resizable-handle { display: none; } /* use 'body' to make it more specific (css order) */
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0px;
}
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0px;
}
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0px;
  height: 100%;
}
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0px;
  height: 100%;
}
.ui-resizable-se {
  cursor: se-resize;
  width: 18px;
  height: 18px;
  right: -5px;
  bottom: -5px;
  background: url(../images/222222_11x11_icon_resize_se.gif) no-repeat 0 0;
}
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}
.ui-dialog-titlebar {
  padding: .5em 1.5em .5em 1em;
  color: #444444;
  background: #e6e6e6 url(../images/e6e6e6_40x100_textures_02_glass_80.png) 0 50% repeat-x;
  border-bottom: 1px solid #cccccc;
  font-size: 1em;
  font-weight: normal;
  position: relative;
}
.ui-dialog-title {}
.ui-dialog-titlebar-close {
  background: url(../images/888888_11x11_icon_close.gif) 0 0 no-repeat;
  position: absolute;
  right: 8px;
  top: .7em;
  width: 11px;
  height: 11px;
  z-index: 100;
}
.ui-dialog-titlebar-close-hover, .ui-dialog-titlebar-close:hover {
  background: url(../images/222222_11x11_icon_close.gif) 0 0 no-repeat;
}
.ui-dialog-titlebar-close:active {
  background: url(../images/ffffff_11x11_icon_close.gif) 0 0 no-repeat;
}
.ui-dialog-titlebar-close span {
  display: none;
}
.ui-dialog-content {
  color: #362b36;
  padding: 1.5em 1.7em;
}
.ui-dialog-buttonpane {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
  border-top: 1px solid #dddddd;
  background: #f3f3f3;
  padding-left: 36px;
}
.ui-dialog-buttonpane button {
  margin: .5em 0 .5em 8px;
  color: #444444;
  background: #e6e6e6 url(../images/e6e6e6_40x100_textures_02_glass_80.png) 0 50% repeat-x;
  font-size: 1em;
  border: 1px solid #cccccc;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  line-height: 1.4em;
}
.ui-dialog-buttonpane button:hover {
  color: #111111;
  background: #eb9300 url(../images/eb9300_40x100_textures_02_glass_90.png) 0 50% repeat-x;
  border: 1px solid #888888;
}
.ui-dialog-buttonpane button:active {
  color: #000000;
  background: #8ab9ff url(../images/8ab9ff_40x100_textures_02_glass_50.png) 0 50% repeat-x;
  border: 1px solid #2694e8;
}
/* This file skins dialog */
.ui-dialog.ui-draggable .ui-dialog-titlebar,
.ui-dialog.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}

/*
Generic ThemeRoller Classes
>> Make your jQuery Components ThemeRoller-Compatible!
*/

/*component global class*/
.ui-component {
}
/*component content styles*/
.ui-component-content {
  border: 1px solid #dddddd;
  background: #f3f3f3 url(../images/f3f3f3_40x100_textures_01_flat_0.png) 0 0 repeat-x;
  color: #362b36;
}
.ui-component-content a {
  color: #362b36;
  text-decoration: underline;
}
/*component states*/
.ui-default-state {
  border: 1px solid #ccc;
  background: #e6e6e6 url(../images/e6e6e6_40x100_textures_02_glass_80.png) 0 50% repeat-x;
  font-weight: normal;
  color: #444444 !important;
}
.ui-default-state a {
  color: #444444;
}
.ui-default-state:hover, .ui-hover-state {
  border: 1px solid #888888;
  background: #eb9300 url(../images/eb9300_40x100_textures_02_glass_90.png) 0 50% repeat-x;
  font-weight: normal;
  color: #111111 !important;
}
.ui-hover-state a {
  color: #111111;
}
.ui-default-state:active, .ui-active-state {
  border: 1px solid #2694e8;
  background: #8ab9ff url(../images/8ab9ff_40x100_textures_02_glass_50.png) 0 50% repeat-x;
  font-weight: normal;
  color: #000 !important;
  outline: none;
}
.ui-active-state a {
  color: #000;
  outline: none;
}
/*icons*/
.ui-arrow-right-default {background: url(../images/888888_7x7_arrow_right.gif) no-repeat 50% 50%;}
.ui-arrow-right-default:hover, .ui-arrow-right-hover {background: url(../images/222222_7x7_arrow_right.gif) no-repeat 50% 50%;}
.ui-arrow-right-default:active, .ui-arrow-right-active {background: url(../images/ffffff_7x7_arrow_right.gif) no-repeat 50% 50%;}
.ui-arrow-right-content {background: url(../images/222222_7x7_arrow_right.gif) no-repeat 50% 50%;}

.ui-arrow-left-default {background: url(../images/888888_7x7_arrow_left.gif) no-repeat 50% 50%;}
.ui-arrow-left-default:hover, .ui-arrow-left-hover {background: url(../images/222222_7x7_arrow_left.gif) no-repeat 50% 50%;}
.ui-arrow-left-default:active, .ui-arrow-left-active {background: url(../images/ffffff_7x7_arrow_left.gif) no-repeat 50% 50%;}
.ui-arrow-left-content {background: url(../images/222222_7x7_arrow_left.gif) no-repeat 50% 50%;}

.ui-arrow-down-default {background: url(../images/888888_7x7_arrow_down.gif) no-repeat 50% 50%;}
.ui-arrow-down-default:hover, .ui-arrow-down-hover {background: url(../images/222222_7x7_arrow_down.gif) no-repeat 50% 50%;}
.ui-arrow-down-default:active, .ui-arrow-down-active {background: url(../images/ffffff_7x7_arrow_down.gif) no-repeat 50% 50%;}
.ui-arrow-down-content {background: url(../images/222222_7x7_arrow_down.gif) no-repeat 50% 50%;}

.ui-arrow-up-default {background: url(../images/888888_7x7_arrow_up.gif) no-repeat 50% 50%;}
.ui-arrow-up-default:hover, .ui-arrow-up-hover {background: url(../images/222222_7x7_arrow_up.gif) no-repeat 50% 50%;}
.ui-arrow-up-default:active, .ui-arrow-up-active {background: url(../images/ffffff_7x7_arrow_up.gif) no-repeat 50% 50%;}
.ui-arrow-up-content {background: url(../images/222222_7x7_arrow_up.gif) no-repeat 50% 50%;}

.ui-close-default {background: url(../images/888888_11x11_icon_close.gif) no-repeat 50% 50%;}
.ui-close-default:hover, .ui-close-hover {background: url(../images/222222_11x11_icon_close.gif) no-repeat 50% 50%;}
.ui-close-default:active, .ui-close-active {background: url(../images/ffffff_11x11_icon_close.gif) no-repeat 50% 50%;}
.ui-close-content {background: url(../images/ffffff_11x11_icon_close.gif) no-repeat 50% 50%;}

.ui-folder-closed-default {background: url(../images/888888_11x11_icon_folder_closed.gif) no-repeat 50% 50%;}
.ui-folder-closed-default:hover, .ui-folder-closed-hover {background: url(../images/222222_11x11_icon_folder_closed.gif) no-repeat 50% 50%;}
.ui-folder-closed-default:active, .ui-folder-closed-active {background: url(../images/ffffff_11x11_icon_folder_closed.gif) no-repeat 50% 50%;}
.ui-folder-closed-content {background: url(../images/888888_11x11_icon_folder_closed.gif) no-repeat 50% 50%;}

.ui-folder-open-default {background: url(../images/888888_11x11_icon_folder_open.gif) no-repeat 50% 50%;}
.ui-folder-open-default:hover, .ui-folder-open-hover {background: url(../images/222222_11x11_icon_folder_open.gif) no-repeat 50% 50%;}
.ui-folder-open-default:active, .ui-folder-open-active {background: url(../images/ffffff_11x11_icon_folder_open.gif) no-repeat 50% 50%;}
.ui-folder-open-content {background: url(../images/ffffff_11x11_icon_folder_open.gif) no-repeat 50% 50%;}

.ui-doc-default {background: url(../images/888888_11x11_icon_doc.gif) no-repeat 50% 50%;}
.ui-doc-default:hover, .ui-doc-hover {background: url(../images/222222_11x11_icon_doc.gif) no-repeat 50% 50%;}
.ui-doc-default:active, .ui-doc-active {background: url(../images/ffffff_11x11_icon_doc.gif) no-repeat 50% 50%;}
.ui-doc-content {background: url(../images/222222_11x11_icon_doc.gif) no-repeat 50% 50%;}

.ui-arrows-leftright-default {background: url(../images/888888_11x11_icon_arrows_leftright.gif) no-repeat 50% 50%;}
.ui-arrows-leftright-default:hover, .ui-arrows-leftright-hover {background: url(../images/222222_11x11_icon_arrows_leftright.gif) no-repeat 50% 50%;}
.ui-arrows-leftright-default:active, .ui-arrows-leftright-active {background: url(../images/ffffff_11x11_icon_arrows_leftright.gif) no-repeat 50% 50%;}
.ui-arrows-leftright-content {background: url(../images/222222_11x11_icon_arrows_leftright.gif) no-repeat 50% 50%;}

.ui-arrows-updown-default {background: url(../images/888888_11x11_icon_arrows_updown.gif) no-repeat 50% 50%;}
.ui-arrows-updown-default:hover, .ui-arrows-updown-hover {background: url(../images/222222_11x11_icon_arrows_updown.gif) no-repeat 50% 50%;}
.ui-arrows-updown-default:active, .ui-arrows-updown-active {background: url(../images/ffffff_11x11_icon_arrows_updown.gif) no-repeat 50% 50%;}
.ui-arrows-updown-content {background: url(../images/222222_11x11_icon_arrows_updown.gif) no-repeat 50% 50%;}

.ui-minus-default {background: url(../images/888888_11x11_icon_minus.gif) no-repeat 50% 50%;}
.ui-minus-default:hover, .ui-minus-hover {background: url(../images/222222_11x11_icon_minus.gif) no-repeat 50% 50%;}
.ui-minus-default:active, .ui-minus-active {background: url(../images/ffffff_11x11_icon_minus.gif) no-repeat 50% 50%;}
.ui-minus-content {background: url(../images/222222_11x11_icon_minus.gif) no-repeat 50% 50%;}

.ui-plus-default {background: url(../images/888888_11x11_icon_plus.gif) no-repeat 50% 50%;}
.ui-plus-default:hover, .ui-plus-hover {background: url(../images/222222_11x11_icon_plus.gif) no-repeat 50% 50%;}
.ui-plus-default:active, .ui-plus-active {background: url(../images/ffffff_11x11_icon_plus.gif) no-repeat 50% 50%;}
.ui-plus-content {background: url(../images/222222_11x11_icon_plus.gif) no-repeat 50% 50%;}

/*hidden elements*/
.ui-hidden {
  display: none/*for accessible hiding: position: absolute; left: -99999999px;*/;
}
.ui-accessible-hidden {
  position: absolute; left: -99999999px;
}
/*reset styles*/
.ui-reset {
  /*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
}
/*clearfix class*/
.ui-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.ui-clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .ui-clearfix {height: 1%;}
.ui-clearfix {display: block;}
/* End hide from IE-mac */

/* Note: for resizable styles, use the styles listed above in the dialog section */
