#gContent {
  font-size: 1.1em;
}
.gBlock {
  border: 1px solid #e7e7e7;
  margin-bottom: 1em;
  padding: .4em;
}
.gBlock h2 {
  background-color: #e7e7e7;
  margin: -.4em;
  padding: .2em .6em;
  cursor: move;
}
#gPhotoStream .gBlockContent {
  overflow: scroll;
}
