.gQuick {
  border: none !important;
	  margin: 0 !important;
  padding: 0 !important;
}

#gQuickPane {
  background: #fff;
  border-bottom: 1px dashed #000;
  opacity: 0.8;
}

#gQuickPane div {
  background-color: red;
  cursor: pointer;
  display: inline;
  float: right;
  margin: 8px;
}

#gQuickPane .rotate-clockwise {
  background: url('../images/arrow_rotate_clockwise.png');
  height: 16px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 16px;
}

#gQuickPane .rotate-clockwise span {
  display: none;
}

#gQuickPane .rotate-counter-clockwise {
  background: url('../images/arrow_rotate_anticlockwise.png');
  height: 16px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 16px;
}

#gQuickPane .rotate-counter-clockwise span {
  display: none;
}

#gQuickPane .edit {
  background: url('../images/image_edit.png');
  height: 16px;
  left: 50%;
  position: absolute;
  top: 0px;
  width: 16px;
}

#gQuickPane .edit span {
  display: none;
}
