/**
 * Gallery 3 core module styles
 *
 * Sheet organization:
 *  1)  End-user
 *  2)  Admin
 *  3)  Right to left language styles
 */

/** *******************************************************************
 * 1) End-user
 **********************************************************************/

/* Auth ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-login-form {
  width: 270px;
}

/* Permissions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-edit-permissions-form {
  clear: both;
}

#g-edit-permissions-form th {
  text-align: center;
}

#g-permissions .g-denied,
#g-permissions .g-allowed {
  text-align: center;
  vertical-align: middle;
}

/* Move items ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-move ul {
  padding-left: 1em;
}

#g-move .selected {
  background: #999;
}

/* In-place edit ~~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-in-place-edit-form ul {
  margin: 0;
}

/* User profile ~~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-user-profile h1 {
  margin: 1em 0;
}

#g-user-profile .g-avatar {
  margin-right: .6em;
}

#g-user-profile .g-block {
  margin-top: 0;
}

#g-user-profile .g-block-content {
  margin-top: 0;
}

#g-user-profile th,
#g-user-profile td {
  border: none;
}

#g-user-profile th {
  white-space: nowrap;
  width: 1%;
}

/* Unsupported movie download link ~~~~~~~~~~~~~~~~~~~~~~~~~ */

.g-movie-download-link {
  text-align: center;
}

/* Dialogs ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/**
 * Newer Themeroller-based themes do this on their own, but older
 * themes need help ensuring that dialogs and overlays are on top
 */
.ui-front {
  z-index: 1000
}

/* Autocomplete ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.ui-autocomplete {
  text-align: left;
}

.ui-autocomplete-loading {
  background: #e8e8e8 url('../assets/loading-small.gif') no-repeat center center;
}

/** *******************************************************************
 * 2) Admin
 **********************************************************************/

.g-task-log {
  border: 1px solid #000;
  height: 400px;
  margin: .6em 0;
  overflow: auto;
  padding: .4em
}

#g-languages-form table {
  width: 40%;
  margin: 0 3em 1em 0;
}

#g-languages-form input {
  clear: both;
}

#g-translations ol {
  margin: 0 0 1em 2em;
}
#g-translations ol li {
  list-style-type: decimal;
  line-height: 150%;
}

#g-translations .g-button {
  padding: .5em;
  margin-bottom: 1em;
}

/** *******************************************************************
 * 3) Right to left language styles
 **********************************************************************/

.rtl #g-add-photos-status #g-action-status li {
  width: 407px;
}

.rtl #g-block-admin .g-left {
  margin-left: 1em;
  margin-right: 0;
}

.rtl #g-user-profile .g-avatar {
  margin-left: .6em;
}

.rtl #g-languages-form table {
  margin: 0 0 1em 3em;
}

.rtl #g-translations ol {
  margin: 0 2em 1em 0;
}

.rtl #g-add-photos-status-message {
  float: left;
}
