/*******************************************************************
 * Dialog wide styles
 */

#g-organize {
  height: auto;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  width: 100%;
}

#g-organize-content-pane {
  height: auto;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  width: 100%;
}

/*******************************************************************
 * Album Tree styles
 */

#g-organize #g-organize-tree-container {
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
  width: 19%;
}

#g-organize-album-tree {
  overflow: auto;
}

#g-organize-album-tree ul li {
  padding: 0 0 .2em 1.2em;
}

.g-organize-album span {
  cursor: pointer;
}

.g-organize-album-text {
  cursor: pointer;
  display: block;
  margin: 2px 0px 1px 2px;
  width: auto;
}

/*******************************************************************
 * Album panel styles
 */

#g-organize #g-organize-detail {
  height: 100%;
  margin: 0 !important;
  overflow: hidden;
  padding: 0 !important;
  width: 80%;
}

#g-organize #g-organize-detail .g-message-block {
  margin: 0;
}

#g-organize #g-organize-detail .g-message-block li {
  padding-bottom: .2em;
  padding-top: .2em;
  width: inherit;
}

#g-organize-microthumb-panel {
  height: 100%;
  margin: 0 !important;
  position: relative;
  padding: 0 !important;
  width: 100%;
}

#g-organize-microthumb-grid {
  height: 100%;
  overflow: auto;
  padding: .4em !important;
  position: relative;
}

.g-organize-microthumb-grid-cell {
  display: block;
  height: 100px;
  margin: 6px;
  padding: .4em 0 !important;
  position: relative;
  text-align: center;
  width: 110px;
}

.ui-selectable-helper {
  z-index: 2000 !important;
}

.g-organize-microthumb-grid-cell .ui-icon {
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 4000;
}

/****************************************************************
 * Controls styles
 */

#g-organize-controls {
  margin: 0 !important;
  padding: .2em .4em;
}

#g-organize-controls select {
  display: inline;
}

#g-organize-close {
  margin-right: 12px;
}
