/* @todo move to theme css */
/*******************************************************************
 * Album Tree styling
 */
#gOrganizeTreeContainer {
  overflow-y: auto;
  margin: 0 !important;
  padding: 0 !important;
}

#gOrganizeAlbumDescription {
  height: 2em;
  overflow-y: auto;
}

.gBranchSelected {
  background-color: #cfdeff !important;
  border-bottom: 1px solid #999 !important;
  display: block;
  padding: .3em 0;
}

.gBranchText {
  cursor: pointer;
}

.gBranchCollapsed {
  display: none;
}

.gBranchEmpty {
  visibility: hidden;
}

#gOrganizeTreeContainer ul ul li {
  padding-left: 1.2em;
}

/*******************************************************************
 * Album Panel Styles
 */
#gMicroThumbPanel {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #cfdeff;
  border: 1px solid #999 !important;
  border-top: none !important;
  border-left: none !important;
  margin-left: -1em !important;
  overflow: auto;
}

#gMicroThumbGrid {
  padding: .5em;
}

.gMicroThumbContainer {
  display: block;
  //border: 2px solid #e8e8e8;
  //border-right-color: #ccc;
  //border-bottom-color: #ccc;
  float: left;
  font-size: .7em;
  height: 9em;
  margin-bottom: 1em;
  opacity: .4;
  padding: 0 .5em;
}

.gMicroThumb {
  height: 9em;
  width: 9em;
  background-color: #fff;
  display: block;
  float: left;
  text-align: center;
}

#gMicroThumbPanel #gMicroThumbGrid .gAlbum {
  background-color: #e8e8e8;
}

#gMicroThumbPanel #gMicroThumbGrid :hover {
  opacity: 1;
}

.gMicroThumbContainer.ui-selected {
  opacity: 1;
}

#gDragHelper .gMicroThumbGrid {
  background-color: transparent;
  padding: 0;
  overflow: visible;
}
			
#gDragHelper .gMicroThumbContainer {
  display: block;
  margin: 0;
  padding: 0;
}

#gDragHelper .gMicroThumb {
  background-color: transparent;
  height: auto;
  width: auto;
}
			

/****************************************************************
 * Organize Edit styling
 */
#gOrganizeFormButtons {
  bottom: 0.5em;
  position: absolute;
}

#gOrganizeFormButtons .submit {
  display: inline;
  float: none;
  left: 0.5em;
  position: relative;
}

#gOrganizeFormThumbs {
  padding: .5em;
  height: 7em;
  overflow: hidden;
}

#gOrganizeFormThumbs div {
  margin: 0;
  text-align: center;
}
