/** *******************************************************************
 * Organize styles that are theme overrideable
 *********************************************************************/
.g-organize-microthumb-grid-cell.ui-selected {
  background: #DFEFFC !important;
}

#g-organize-microthumb-grid,
#g-organize-drop-target-marker,
.g-organize-album-text:hover {
  border-color: #79B7E7;
}

#g-organize-drop-target-marker {
 background-color: #79B7E7;
}
