/** *******************************************************************
 * Organize styles that are theme overrideable
 *********************************************************************/
#g-organize {
  background-color: #FFFFFF;
  border: 0px solid #000000;
  color: #0E2B52;
}

#g-organize-hover {
  background-color: #CFDEFF;
  display: none;
}

#g-organize-active {
  background-color: #6699CC;
  display: none;
}
