/**
 * Fix display in IE 6 and 7
 */

#gHeader,
#gGroupAdmin,
#gDeveloperTools,
.gAvailable .gBlock {
  zoom: 1;
}

.gUnavailable {
  filter: alpha(opacity=40);
}

.gUnavailable:hover {
  filter: alpha(opacity=100);
}
