/**
 * Fix display in IE 6 and 7
 */

.ui-helper-clearfix,
#g-group-admin,
#g-developer-tools {
  zoom: 1;
}

.g-unavailable {
  filter: alpha(opacity=40);
}

.g-unavailable:hover {
  filter: alpha(opacity=100);
}
