@CHARSET "UTF-8";
#backgroundPopup {  
	display:none;  
	position:fixed;  
	_position:absolute; /* hack for internet explorer 6*/  
	height:100%;  
	width:100%;  
	top:0;  
	left:0;  
	background:#000000;  
	border:1px solid #cecece;  
	z-index:1;  
}  
#gLoginPopup {  
	display:none;  
	position:fixed;  
	_position:absolute; /* hack for internet explorer 6*/  
	height:384px;  
	width:408px;  
	background:#FFFFFF;  
	border:2px solid #cecece;  
	z-index:2;  
	padding:12px;  
	font-size:13px;  
}  
#gLoginPopup h1 {  
	text-align:left;  
	color:#6FA5FD;  
	font-size:22px;  
	font-weight:700;  
	border-bottom:1px dotted #D3D3D3;  
	padding-bottom:2px;  
	margin-bottom:20px;  
}  
#gLoginPopupClose {  
	font-size:14px;  
	line-height:14px;  
	right:6px;  
	top:4px;  
	position:absolute;  
	color:#6fa5fd;  
	font-weight:700;  
	display:block;  
}  