/**
 * Fix display in IE 6, 7
 */

#g-banner {
  z-index: 2;
}

input.submit {
  clear: none !important;
  display: inline !important;
}

#g-add-tag-form input.textbox {
  width: 110px;
}

#g-dialog .g-cancel {
  display: inline-block !important;
  float: none !important;
}

.g-pager .g-text-right {
  width: 29%;
}

.g-pager .ui-icon-right {
  width: 60px;
}
