/**
 * Gallery 3 Default Theme Screen Styles
 *
 * @requires YUI reset, font, grids CSS
 *
 * Sheet organization:
 *  1)  Basic HTML elements
 *  2)  Reusable content blocks
 *  3)  Page layout containers
 *  4)  Content blocks in specific layout containers
 *  5)  Navigation and menus
 *  6)  jQuery and jQuery UI
 *  7)  Right-to-left language styles
 *
 *  @todo Move #g-comments to comment module, recapthca to recaptcha?
 *  @todo Make #g-welcome-message p unecessary
 *  @todo Review g-buttonset and it's usage
 */

/** *******************************************************************
 * 1) Basic HTML elements
 **********************************************************************/

body, html {
  background-color: #ccc;
  font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  margin-bottom: 1em;
}

em {
  font-style: oblique;
}

h1, h2, h3, h4, h5, strong, th {
  font-weight: bold;
}

h1 {
  font-size: 1.7em;
}

#g-search-results h1 {
  margin-bottom: 1em;
}

#g-progress h1 {
  font-size: 1.1em;
}

h2 {
  font-size: 1.4em;
}

#g-sidebar .g-block h2 {
  font-size: 1.2em;
}

#g-sidebar .g-block li {
  margin-bottom: .6em;
}

h3 {
  font-size: 1.2em;
}

/* Links ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

a,
.g-menu a,
#g-dialog a,
.g-button,
.g-button:hover,
.g-button:active,
a.ui-state-hover,
input.ui-state-hover,
button.ui-state-hover {
  color: #5382bf !important;
  cursor: pointer !important;
  text-decoration: none;
  -moz-outline-style: none;
}

a:hover,
#g-dialog a:hover {
  text-decoration: underline;
}

.g-menu a:hover {
  text-decoration: none;
}

#g-dialog #g-action-status li {
  width: 400px;
  white-space: normal;
  padding-left: 32px;
}

/* Tables ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

table {
  width: 100%;
}

#g-content table {
  margin: 1em 0;
}

caption,
th {
  text-align: left;
}

th,
td {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: .5em;
  vertical-align: top;
}

/** *******************************************************************
 * 2) Reusable content blocks
 *********************************************************************/

.g-block h2 {
  background-color: #e8e8e8;
  padding: .3em .8em;
}

.g-block-content {
  margin-top: 1em;
}

/*** ******************************************************************
 * 3) Page layout containers
 *********************************************************************/

/* View container ~~~~~~~~~~~~~~~~~~~~~~~~ */

.g-view {
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
}

/* Layout containers ~~~~~~~~~~~~~~~~~~~~~ */

#g-header {
  margin-bottom: 1em;
}

#g-banner {
  background-color: #e8e8e8;
  border-bottom: 1px solid #ccc;
  font-size: .8em;
  min-height: 5em;
  padding: 1em 20px;
  position: relative;
}

#g-content {
  font-size: 1.2em;
  padding-left: 20px;
  position: relative;
  width: 696px;
}

#g-sidebar {
  font-size: .9em;
  padding: 0 20px;
  width: 220px;
}

#g-footer {
  background-color: #e8e8e8;
  border-top: 1px solid #ccc;
  font-size: .8em;
  margin-top: 20px;
  padding: 10px 20px;
}

/** *******************************************************************
 * 4) Content blocks in specific layout containers
 *********************************************************************/

/* Header  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-banner #g-logo img {
  margin: 0;
}

#g-banner #g-quick-search-form {
  clear: right;
  float: right;
  margin-top: 1em;
}

#g-banner #g-quick-search-form input[type='text'] {
  width: 17em;
}

#g-content .g-block h2 {
  background-color: transparent;
  padding-left: 0;
}

#g-sidebar .g-block-content {
  padding-left: 1em;
}

/* Album content ~~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-content #g-album-grid {
  margin: 1em 0;
  position: relative;
  z-index: 1;
}

#g-content #g-album-grid .g-item {
  background-color: #fff;
  border: 1px solid #fff;
  float: left;
  font-size: .7em;
  padding: .6em 8px;
  position: relative;
  text-align: center;
  width: 213px;
  z-index: 1;
}

#g-content #g-album-grid .g-item h2 {
  margin: 5px 0;
}

#g-content .g-photo h2,
#g-content .g-item .g-metadata {
  display: none;
  margin-bottom: .6em;
}

#g-content #g-album-grid .g-album {
  background-color: #e8e8e8;
}

#g-content #g-album-grid .g-album h2 span {
  background: transparent url('../images/ico-album.png') no-repeat top left;
  display: inline-block;
  height: 16px;
  margin-right: 5px;
  width: 16px;
}

#g-content #g-album-grid .g-hover-item {
  border: 1px solid #000;
  position: absolute !important;
  z-index: 1000 !important;
}

#g-content .g-hover-item h2,
#g-content .g-hover-item .g-metadata {
  display: block;
}

#g-content #g-album-grid #g-place-holder {
  position: relative;
  visibility: hidden;
  z-index: 1;
}

/* Individual photo content ~~~~~~~~~~~~~~ */

#g-content #g-item {
  position: relative;
  width: 100%;
}

#g-content #g-photo {
  position: relative;
}

#g-content #g-item .g-fullsize-link img {
  display: block;
  margin: 1em auto;
}

#g-content #g-comments {
  margin-top: 2em;
  position: relative;
}

#g-content #g-comments ul li {
  margin: 1em 0;
}

#g-content #g-comments .g-author {
  border-bottom: 1px solid #ccc;
  color: #999;
  height: 32px;
  line-height: 32px;
}

#g-content #g-comments ul li div {
  padding: 0 8px 8px 43px;
}

#g-content #g-comments ul li #g-recaptcha {
  padding: 0;
}

#g-content #g-comments ul li #g-recaptcha div {
  padding: 0;
}

#g-content #g-comments .g-avatar {
  height: 32px;
  margin-right: .4em;
  width: 32px;
}

#g-admin-comment-button {
  position: absolute;
  right: 0;
  top: 2px;
}

#g-content #g-comment-form {
  margin-top: 2em;
}

/* Footer content ~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-footer #g-credits li {
  padding-right: 1.2em;
}

#g-content #g-search-results {
  margin-top: 1em;
  padding-top: 1em;
}

/** *******************************************************************
 * 5) Navigation and menus
 *********************************************************************/

#g-site-menu {
  font-size: 1.2em;
}

/* Login menu ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-banner #g-login-menu {
  color: #999;
  float: right;
}

#g-banner #g-login-menu li {
  padding-left: 1.2em;
}

/* Site Menu  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-site-menu {
  bottom: 0;
  left: 140px;
  position: absolute;
}

#g-site-menu ul {
  margin-bottom: 0 !important;
}

/* Context Menu  ~~~~~~~~~~~~~~~~~~~~~~~~~ */

.g-context-menu {
  background-color: #fff;
  bottom: 0;
  left: 0;
  position: absolute;
}

.g-item .g-context-menu {
  display: none;
  margin-top: 2em;
  width: 100%;
}

#g-item .g-context-menu {
  font-size: .7em;
}

#g-item .g-context-menu ul {
  display: none;
}

.g-context-menu li {
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.g-context-menu li a {
  display: block;
  line-height: 1.6em;
}

.g-hover-item .g-context-menu {
  display: block;
}

.g-hover-item .g-context-menu li {
  text-align: left;
}

.g-hover-item .g-context-menu a:hover {
  text-decoration: none;
}

/* View Menu  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-view-menu {
  margin-bottom: 1em;
}

#g-view-menu a {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 28px !important;
  width: 43px !important;
}

#g-view-menu #g-slideshow-link {
  background-image: url('../images/ico-view-slideshow.png');
}

#g-view-menu .g-fullsize-link {
  background-image: url('../images/ico-view-fullsize.png');
}

#g-view-menu #g-comments-link {
  background-image: url('../images/ico-view-comments.png');
}

#g-view-menu #g-print-digibug-link {
  background-image: url('../images/ico-print.png');
}

#g-welcome-message p {
  padding-bottom: 1em;
}

/** *******************************************************************
 * 6) jQuery and jQuery UI
 *********************************************************************/

/* Superfish menu overrides ~~~~~~~~~~~~~~ */

.sf-menu li li,
.sf-menu li li ul li {
  background-color: #bdd2ff;
}

.sf-menu li:hover {
  background-color: #dfe9ff;
}

/* jQuery UI Dialog ~~~~~~~~~~~~~~~~~~~~~~ */

.ui-widget-overlay {
  background: #000;
  opacity: .7;
}

/* jQuery UI ThemeRoller buttons */

.g-buttonset {
  padding-left: 1px;
}

.g-buttonset li {
  float: left;
}

.g-buttonset .g-button {
  margin: 0;
}

.ui-icon-left .ui-icon {
  float: left;
  margin-right: .2em;
}

.ui-icon-right .ui-icon {
  float: right;
  margin-left: .2em;
}

.ui-icon-rotate-ccw {
  background-position: -192px -64px;
}

.ui-icon-rotate-cw {
  background-position: -208px -64px;
}

/** *******************************************************************
 * 6) Right to left styles
 *********************************************************************/

.rtl {
  direction: rtl;
}

.rtl caption,
.rtl th,
.rtl #g-dialog {
  text-align: right;
}

.rtl .g-right,
.rtl #g-header #g-quick-search-form,
.rtl #g-header #g-login-menu,
.rtl .ui-icon-right .ui-icon {
  clear: left;
  float: left;
}

.rtl .g-left,
.rtl form ul ul li,
.rtl input[type="submit"],
.rtl input[type="reset"],
.rtl #g-header #g-logo img,
.rtl #g-content #g-album-grid .g-item,
.rtl #g-site-menu,
.rtl .g-breadcrumbs li,
.rtl .g-pager li,
.rtl .g-buttonset li,
.rtl .ui-icon-left .ui-icon {
  float: right;
}
