#g-login-form,
#g-add-user-form
#g-edit-user-form,
#g-delete-user-form,
#g-user-admin {
  width: 270px;
}

#g-user-admin-list .admin {
  color: #55f;
  font-weight: bold;
}

li.g-group {
  float: left;
  display: block;
  width: 200px;
  border: 1px solid gray;
  padding: 0;
  margin: 0 1em 1em 0;
}

li.g-group h4 {
  background-color: #eee;
  border-bottom: 1px dashed #ccc;
  padding: .5em 0 .5em .5em;
}

li.g-group .g-button {
  padding: 0;
}

li.g-group ul, li.g-group div {
  height: 180px;
  margin: 1px;
  overflow: auto;
  padding-top: .2em;
}

li.g-group div p {
  color: gray;
  text-align: center;
  padding: 2em .5em 0 .5em
}

li.g-group .g-user {
  padding: .2em 0 0 .5em;
}

li.g-group .g-user .g-button {
  vertical-align: middle;
}

li.g-default-group h4, li.g-default-group .g-user {
  color: gray;
}

.g-password-strength0 {
  background: url(progressImg1.png) no-repeat 0 0;
  width: 138px;
  height: 7px;
}
.g-password-strength10 {
  background-position:0 -7px;
}
.g-password-strength20 {
  background-position:0 -14px;
}
.g-password-strength30 {
  background-position:0 -21px;
}
.g-password-strength40 {
  background-position:0 -28px;
}
.g-password-strength50 {
  background-position:0 -35px;
}
.g-password-strength60 {
  background-position:0 -42px;
}
.g-password-strength70 {
  background-position:0 -49px;
}
.g-password-strength80 {
  background-position:0 -56px;
}
.g-password-strength90 {
  background-position:0 -63px;
}
.g-password-strength100 {
  background-position:0 -70px;
}
